/* a01からa11です */
.titleH1{
    color: white;
    letter-spacing: 5px;
    font-weight: bold;
    font-family: none;
    font-size: 100px;
}
.memo{
    color: white;
    line-height: 30px;
    letter-spacing: 5px;
    font-size: 20px;
}







